@mixin font-family-heading {
    font-family: $fontFamilyHeading;
}

%button {
    height: 50px;
    width: 140px;
    border-radius: 3px;
    background-color: $buttonColor;
}

body {
    background-color: map-get($color, "bodyBackgroundColor");
}

header {
    background-image: $headerBackground;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    border-radius: 0 0 300px 0;
    .header-wrap {
        padding-top: 20px;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        @include font-family-heading ();
        .landing-logo {
            img {
                float: left;
                width: 45px;
                padding-top: 15px;
            }
            p {
                font-weight: bold;
                padding-left: 30px;
                color: $headingColor;
                font-size: 20px;
                span {
                    display: block;
                    font-size: 10px;
                    padding-left: 20px;
                }
            }
        }
        .header_heading {
            color: $headingColor;
            font-size: 70px;
            font-weight: bold;
            line-height: 70px;
            width: 500px;
            position: relative;
            z-index: 0;
        }
        .header_heading::after {
            content: '';
            background-color: $underlineColor;
            display: block;
            height: 20px;
            width: 60%;
            position: absolute;
            z-index: -1;
            bottom: 2px;
        }
        .header_text {
            color: $headingColor;
            font-family: $fontFamilyText;
            text-align: left;
            width: 620px;
            font-size: 17px;
        }
        .header_button {
            margin-top: 10px;
            @extend %button;
            color: white;
            border: none;
            font-size: 17px;
            font-weight: bold;
            @include font-family-heading ();
        }
    }
}

main {
    .section_text {
        @include font-family-heading ();
        color: $headingColor;
        font-size: 40px;
        text-align: center;
        position: relative;
        z-index: 0;
    }
    .section_text::after {
        content: '';
        background-color: $underlineColor;
        display: block;
        height: 20px;
        width: 170px;
        position: absolute;
        z-index: -1;
        bottom: 2px;
        left: 51%;
    }
    .section_card_wrap {
        display: flex;
        justify-content: center;
        .section_card {
            width: 350px;
            height: 430px;
            border-radius: 5px;
            background-color: $cardBackgroundColor;
            margin: 10px;
            padding: 15px;
            text-align: center;
            .section_card_img {
                width: 350px;
                border-radius: 5px;
            }
            .section_card_heading {
                @include font-family-heading ();
                display: inline-block;
                color: white;
                position: relative;
                z-index: 0;
                font-size: 22px;
                font-weight: bold;
                margin: 5px;
            }
            .section_card_underline {
                background-color: $underlineColor;
                position: absolute;
                z-index: -1;
                bottom: 1px;
                right: 0px;
                height: 11px;
                width: 100%;
            }
            .section_card_text {
                font-family: $fontFamilyText;
                margin: 0px;
                color: #BEC0C8;
            }
        }
    }
    .section_banner {
        width: 900px;
        height: 150px;
        border-radius: 5px;
        background: $bannerBackground;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        color: #adc3ce;
        position: relative;
        z-index: 1;
        .section_banner_text_wrap {
            width: 540px;
            height: 100px;
            padding-left: 100px;
            padding-top: 30px;
            .section_banner_heading {
                @include font-family-heading ();
                color: $headingColor;
                margin: 0;
                font-size: 28px;
                font-weight: bold;
                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    background-color: $underlineColor;
                    height: 13px;
                    top: 52px;
                    left: 24%;
                    width: 55px;
                }
            }
            .section_banner_text {
                font-family: $fontFamilyText;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
    .section_banner_button {
        @extend %button;
        color: white;
        border: none;
        font-size: 17px;
        font-weight: bold;
        @include font-family-heading ();
        float: right;
        margin-right: 80px;
        margin-top: -80px
    }
}

footer {
    background-color: map-get($color, "footerBackgroundColor");
    color: #adc3ce;
    max-width: 100%;
    height: 200px;
    margin-top: -70px;
    z-index: -1;
    .footer-wrap {
        padding-top: 90px;
        display: flex;
        justify-content: center;
        font-family: $fontFamilyText;
        justify-content: space-around;
        align-items: center;
        .landing-logo {
            img {
                float: left;
                width: 45px;
            }
            p {
                font-weight: bold;
                padding-left: 50px;
                color: #adc3ce;
                font-size: 20px;
                margin: 0px;
                span {
                    display: block;
                    font-size: 10px;
                    padding-left: 10px;
                    margin: 0px;
                }
            }
        }
        .footer_text {
            width: 320px;
        }
    }
}