$headerBackground: url('../img/m-h-day.jpg');
$fontFamilyHeading: 'Source Sans Pro',
sans-serif;
$headingColor:#32323E;
$fontFamilyText: 'Hind',
sans-serif;
$underlineColor:#279FBF;
$buttonColor:#629202;
$bannerBackground: linear-gradient(to right,
#6A9321,
#3756BE);
$cardBackgroundColor: #21232e;
$color: ( bodyBackgroundColor: white,
footerBackgroundColor: #21232e);