$headerBackground: url('../img/m-h-night.jpg');
$fontFamilyHeading: 'Source Sans Pro',
sans-serif;
$headingColor: white;
$fontFamilyText:'Fresca',
sans-serif;
$underlineColor:#EA5C5B;
$buttonColor: #E2A92C;
$bannerBackground: linear-gradient(to right,
#DA9C2B,
#963752);
$cardBackgroundColor: #3F4052;
$color: ( bodyBackgroundColor: #252733,
footerBackgroundColor: #3F4052);